$justify-contents: start, center, end, space-between, space-around, space-evenly;
$align-items: stretch, center, start, end;
$displays: flex, none, block, inline, inline-block;
$colors: (
  "primary": #00539CFF,
  "secondary": #EEA47FFF,
  "white": #fff,
  "dark": #0D1117
)